@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.App{
  margin: 0 auto;
 max-width: 400px;
  height: 100vh;
  position: relative;
 
}
.fondo{
  width: 100%;
 height: 100%;
}

.edad-conta{
  top: 0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.edad{
  animation: color 2s infinite;
  color: rgba(174, 43, 226, 0.247);
  font-size: 70vmin;

}
.container-info{
 
  position: absolute;
  top: 0px;
  left:0px;
  right: 0px;
  bottom: 0px;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
 z-index: 1;
 user-select: none;
}

#map{
  border-radius: 10px;
  border: 1px solid black;
  top: 15px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  opacity: 0.9;
  box-shadow: 2px 2px 8px grey;
  height: 200px;
  width: 90%;
}

.teInvito{
  font-size: 4vmin;
  font-family: 'Great Vibes', cursive;
}
.Micumple{
  font-size: 9vmin;
  color:  rgb(250, 72, 191);
  font-family: 'Satisfy', cursive;
}
.fecha-hora{

  text-align: center;
  font-size: 3vmin;
}
.domicilo{
  color:  rgb(250, 72, 191);
  padding: 7px;
  display: flex;
  justify-content: center;
background: rgb(250, 201, 235);
  cursor: pointer;
 border: 1px solid rgb(250, 72, 191);
 border-radius: 5px;
 font-size: 3vmin;
}
.domicilo:hover{
  background: rgb(170, 104, 236);
  translate:  -2px -5px -5px -2px;

  transform: translateY(-2px);
  box-shadow: 2px 2px 8px rebeccapurple;
   
}

.te-espero{

  font-size: 3vmin;
}
.names{
  line-height: 30px;
  font-size: 6vmin;
text-align: center;
font-family: 'Great Vibes', cursive;
color:  rgb(250, 72, 191);
animation: color 1s infinite;
}

@keyframes color {
  0%{ color:  rgb(72, 134, 250);};
  50%{color:  rgb(250, 72, 191);};
  1000%{color:  rgb(248, 225, 93);}
}

.btWhatsapp{
  background: #00bb2d;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.perfil-imag{
height: 90px;
width: 90px;
border-radius: 50%;
border: 1px solid black;
}
